form.login {
  width: 25rem;

  fieldset {
    border: 0;

    legend {
      width: 100%;

      font-size: 2rem;
      line-height: 2.125;
      color: #5c8599;
      font-weight: 700;

      padding-bottom: 1.5rem;
    }

    & + fieldset {
      margin-top: 1.5rem;
    }

    .input-block {
      & + .input-block {
        margin-top: 1.5rem;
      }

      label {
        display: flex;
        color: #8fa7b3;
        margin-bottom: 0.5rem;
        line-height: 1.5rem;

        span {
          font-size: 0.875rem;
          color: #8fa7b3;
          margin-left: 1.5rem;
          line-height: 1.5rem;
        }

        &.remember {
          position: relative;
          margin: 0;
          left: 2.5rem;
        }
      }

      input {
        height: 4rem;
        width: 100%;
        padding: 0 1rem;
        background: #f5f8fa;
        border: 0.0625rem solid #d3e2e5;
        border-radius: 1.25rem;
        outline: none;
        color: #5c8599;
      }

      input[type="checkbox"] {
        position: absolute;
        width: 30px;
        height: 24px;
        padding: 0 1rem;
        background: #f5f8fa;
        border: 0.0625rem solid #d3e2e5;
        border-radius: 1.25rem;
        outline: none;
        color: #5c8599;
      }
    }

    .last-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        color: #8fa7b3;
        text-decoration: none;

        strong {
          font-weight: normal;
        }
      }
    }
  }
}
